
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

*.p
*.pt
*.pth
*.h5
*.joblib
*.onnx
models/

backend/downloads/
backend/uploads/
backend/tmp/
backend/distribution-server/downloads/


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

build-resources/
dist/
out/
release/
*.exe
*.msi
*.dmg
*.AppImage

.DS_Store
Thumbs.db
.vscode/
.idea/
